body, h1, ul {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

header {
    width: 100%;
    background-color: #FCD900;
}

h1 {
    font-size: 20px;
    padding: 10px 0;
}

nav {
    display: flex;
    margin: 0 20px;
}

nav > ul {
    margin-left: auto;
}

nav > ul > li {
    list-style-type: none;
    display: inline-block;
    margin: 0 10px;
    line-height: 50px;
    position: relative;
}

nav > ul > li > ul {
    display: none;
    position: absolute;
    padding-left: 0;
    background-color: #125115;
}

nav > ul > li:hover ul {
    display: block;
}

nav > ul > li > ul > li {
    list-style-type: none;
    line-height: 20px;
    padding: 5px;
}

nav > ul > li > ul > li > a {
    color: #FFFFFF;
}

nav > ul > li > ul > li > a:hover {
    text-decoration: underline;
}

nav > ul > li > a:hover:after {
    content: '';
    display: block;
    position: absolute;
    top: 35px;
    left: -5%;
    width: 110%;
    height: 3px;
    background-color: #004091;
}
